<p>
  <strong>Listar: <%= link_to 'todas', :action => 'index', :id => '' %>,
  <%= link_to 'abierta', :action => 'index', :id => 'open' %>,
  <%= link_to 'procesada', :action => 'index', :id => 'processed' %>,
  <%= link_to 'cerrada', :action => 'index', :id => 'closed' %>,
  <%= link_to 'fallida', :action => 'index', :id => 'failed' %></strong>
</p>
