<% if @orders == [] %>
  <h2><%= "No hay ordenes con el estado: '#{@status}'." %></h2>
<% else %>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Estado</th>
      <th>Cantidad total</th>
      <th>Tamaño</th>
      <th>Creado en</th>
      <th>Actualizado</th>
      <th></th>
    </tr>
  <% for order in @orders %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.status[0].capitalize + order.status[1..order.status.length-1] %></td>
      <td><%= order.total %></td>
      <td><%= order.ropas.size %></td>
      <td><%= order.created_at.strftime("%d/%m/%Y %I:%M") %></td>
      <td><%= order.updated_at.strftime("%d/%m/%Y %I:%M") %></td>
      <td><%= link_to 'Mostrar', :action => 'show', :id => order %></td>
    </tr>
  <% end %>
  </table>

  <% if @orders.total_pages > 1 %>
    <br/>
    <%= 'View page:' %>
  <% end %>

  <div class="text-center">
    <%= will_paginate @orders, :renderer => BootstrapPagination::Rails %>
  </div>
<% end %>

<%= render :partial => 'navigation' %>
