  <div class="form-group">
    <%= text_field 'ropa', 'tipo', :value => @tipo, :type => 'hidden', :class => 'form-control' %>
  </div>

  <div class="form-group">
    <label for="ropa_nombre">Nombre</label>
    <%= text_field  'ropa', 'nombre', :class => 'form-control' %>
  </div>

  <div class="form-group">
    <label for="ropa_nombre">Tags</label>
    <%= text_field 'tags', nil, :value => @ropa.tag_list, :class => 'form-control', data: {autocomplete_source: autocomplete_ropa_path} %>
  </div>

  <div class="form-group">
    <label for="ropa_modelo">Modelo</label>
    <%= text_field  'ropa', 'modelo', :class => 'form-control' %>
  </div>

  <div class="form-group">
    <label for="ropa_deporte">Deporte (opcional)</label>
    <%= text_field  'ropa', 'deporte', :class => 'form-control' %>
  </div>

  <div class="form-group">
    <label for="ropa_num_pie">Número de pie</label>
    <%= text_field  'ropa', 'num_pie', :class => 'form-control' %>
  </div>
  
  <div class="form-group">
  	<label for="ropa_marca">Marca</label>
  	<%= collection_select :ropa, :marca_id, @marcas, :id, :nombre %></p>
  </div>
  
  <div class="form-group">
  	<label for="ropa_color">Color</label>
  	<%= collection_select :ropa, :color_id, @colores, :id, :nombre %></p>
  </div>

  <div class="form-group">
    <label for="ropa_precio">Precio</label>
    <%= text_field  'ropa', 'precio', :class => 'form-control' %>
  </div>
  
  <div class="form-group">
  <% if @ropa.imagen.exists? then %>
    <%= image_tag @ropa.imagen.url(:medium) %>
  <% else %>
    <p> No hay imagen disponible. </p>
  <% end %>
    <label for="ropa_imagen">Imagen</label>
    <%= file_field 'ropa', :imagen %>
  </div>
