  <% if @ropa.errors.any? %>
  <div id="errorExplanation">
  <h2><%= pluralize(@ropa.errors.count, "error") %> No se pudo guardar esta 'ropa':</h2>
    <ul>
      <% @ropa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>  
  
  <div class="form-group">
    <%= text_field 'ropa', 'tipo', :value => @tipo, :type => 'hidden', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <label for="ropa_nombre">Nombre</label>
    <%= text_field  'ropa', 'nombre', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <label for="ropa_modelo">Modelo</label>
    <%= text_field  'ropa', 'modelo', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <label for="ropa_deporte">Deporte (opcional)</label>
    <%= text_field  'ropa', 'deporte', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <label for="ropa_num_pie">Número de pie</label>
    <%= text_field  'ropa', 'num_pie', :class => 'form-control' %>
  </div>
  
  <div class="form-group">
  	<label for="ropa_marca">Marca</label>
  	<%= collection_select :ropa, :marca_id, @marcas, :id, :nombre %></p>
  </div>
  
  <div class="form-group">
  	<label for="ropa_color">Color</label>
  	<%= collection_select :ropa, :color_id, @colores, :id, :nombre %></p>
  </div>

  <div class="form-group">
    <label for="ropa_precio">Precio</label>
    <%= text_field  'ropa', 'precio', :class => 'form-control' %>
  </div>
  
  <div class="field">
  <% if @ropa.imagen.exists? then %>
    <dd><%= image_tag @ropa.imagen.url(:medium) %></dd>
  <% else %>
    <p> No hay imagen disponible. </p>
  <% end %>
  <p><label for="ropa_imagen">Imagen</label><br/>
  <%= file_field 'ropa', :imagen %></p>
  </div>
