<h1>Crear nuevo producto de ropa</h1>
<p>Seleccione el tipo de ropa que desee añadir</p>

<%= link_to 'Camiseta', new_admin_ropa_tipo_path('Camiseta'), :class => 'btn btn-default btn-sm' %>
<br>
<%= link_to 'Calzonas', new_admin_ropa_tipo_path('Calzonas'), :class => 'btn btn-default btn-sm' %>
<br>
<%= link_to 'Equipación', new_admin_ropa_tipo_path('Equipación'), :class => 'btn btn-default btn-sm' %>
<br>
<%= link_to 'Chándal', new_admin_ropa_tipo_path('Chándal'), :class => 'btn btn-default btn-sm' %>
<br>
<%= link_to 'Zapatillas', new_admin_ropa_tipo_path('Zapatillas'), :class => 'btn btn-default btn-sm' %>
<br><br>
<%= link_to 'Back', admin_ropas_path, :class => 'btn btn-default btn-sm' %>
