
<div class="row">
	<div class="col-md-4">
		<%= form_tag admin_marca_path(@marca), :method => 'put', :multipart => true do %>
		  <%= render :partial => 'form' %>
		  <%= submit_tag 'Actualizar marca', :class => 'btn btn-primary' %>
		<% end %>
	</div>
</div>

<br>
<%= link_to 'Mostrar', admin_marca_path(@marca), :class => 'btn btn-success' %>
<%= link_to 'Volver', admin_marcas_path, :class => 'btn btn-default btn-sm' %>
