
<div class="row">
	<div class="col-md-3">

		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Nombre</h3>
		  </div>
		  <div class="panel-body">
		    <%= @marca.nombre %>
		  </div>
		</div>

		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">País</h3>
		  </div>
		  <div class="panel-body">
		    <%= @marca.pais %>
		  </div>
		</div>
		
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Imagen</h3>
		  </div>
		  <% if @marca.imagen.exists? then %>
		  <div class="panel-body">
		    <%= image_tag @marca.imagen.url(:thumb) %>
		  </div>
		  <% else %>
		  <div class="panel-body">
		    <p> No hay imagen disponible. </p>
		  </div>
		  <% end %>
		</div>

	</div>
</div>

<%= link_to 'Editar', { :action => 'edit', :id => @marca }, :class => 'btn btn-success' %>
<%= link_to 'Volver', { :action => 'index' }, :class => 'btn btn-default btn-sm' %>
