<% item_count = 1 %>
<br><br>

<div class="row">
  <div class="col-md-9 col-md-offset-2">
  	<div class="catalogo-container">
  	
  	  <% for ropa in @ropas %>
  	  	  <% if item_count == 1 %>
  	  	    <div class="row" style="margin-top: 20px;">
  	  	  <% end %>
	  	  <div class="col-md-3 ropa">
	  	  	<div>
	  	  	  <div id="<%= ropa.id %>" class="ropa-imagen">
	  	  	  	<%= link_to catalogo_show_path(ropa) do %>
	  	  	  	  <% if ropa.imagen.exists? %>
				    <%= image_tag ropa.imagen.url(:medium), :class => 'thumbnail' %>
				  <% else %>
				    <%= image_tag '/imagenesCatalogo/no_disponible.gif' %>
				  <% end %>
				<% end %>
	  	  	  </div>
	  	  	  <h5><%= link_to ropa.nombre, catalogo_show_path(ropa) %> 
	   	  	      <%= link_to '+', { :controller => 'cart', :remote => true, :action => 'add', :id => ropa}, :class => 'btn btn-sm btn-primary' %>
	  	  	  </h5>
	  	  	  <div>
	  	  	  	<span class="precio">
	  	  	  		Precio: <%= sprintf("%.2f €", ropa.precio) %>
	  	  	  	</span>
	  	  	  </div>
	  	  	</div>
	  	  </div>
	  	  <% if item_count == 3 then %>
	  	  	</div>
	  	  	<% item_count = 1 %>
	  	  <% else %>
	  	  	<% item_count += 1 %>
	  	  <% end %>
  	  <% end %>

  	  <% if item_count != 1 %>
  	    </div>
  	  <% end %>

  	</div>
  </div>
</div>

