<div class="row">
  <div class="col-md-5">
    <div class="row">
	  <div class="product-image">
	    <% if @ropa.imagen.exists? then %>
    	  <%= image_tag @ropa.imagen.url(:large) %>
 	    <% else %>
    	  <%= image_tag '/imagenesCatalogo/no_disponible.gif' %>
  	    <% end %>
	  </div>
	</div> <!-- Imagen -->
  </div>

  <div class="col-md-7 pull-right">
	<div class="row">
  	  <div class="col-md-10">
  	  	<div class="page-header">
  	  	  <h2>
  	  	    <%= @ropa.modelo %>
  	  	    <span class="pull-right">
  	  	  	  <small>Precio: </small>
  	  	  	  <%= sprintf("%.2f €", @ropa.precio) %>
  	  	    </span>
  	  	  </h2>
  	  	</div>
  	  </div>
	</div> <!-- Modelo y precio -->

  	<div class="row">
  	  <div class="col-md-10">
  	  	<div class="product-show">
  	  	  <div class="row">
	  	  	  <div class="col-md-8 col-md-offset-1">
	  	  		<b>Marca: </b> 
	  	  		<%= link_to @ropa.marca.nombre, catalogo_marca_path(@ropa.marca.nombre) %>
	  	  		<br>
	  	  		<!-- Deporte -->
	  	  		<% if @ropa.deporte then %>
	  	  		  <b>Deporte: </b><%= @ropa.deporte %>
	  	  		<% end %> 
	  	  		<br>
	  	  		<!-- Deporte -->
	  	  		<% if @ropa.nom_equipo then %>
	  	  		  <b>Equipo: </b><%= @ropa.nom_equipo %>
	  	  		<% end %> 
	  	  		<br>
	  	  		<!-- Color -->
	  	  		<% if @ropa.color then %>
	  	  		  <b>Color: </b><%= @ropa.color.nombre %>
	  	  		<% end %> 
	  	  		<br>
	  	  		<!-- Pie o talla -->
	  	  		<%if @tipoZapatillas %>
	  	  		  <b>Pie: </b><%= @ropa.num_pie %>
	  	  		<% else %>
	  	  		  <b>Talla EU: </b><%= @ropa.talla.nombre_euro %>
	  	  		  <br>
	  	  		  <b>Talla USA: </b><%= @ropa.talla.nombre_usa %>
				<% end %>
				<br>
	  	  		<!-- Tags -->
	  	  		<% if @ropa.tag_list then %>
	  	  		  <b>Tags: </b><%= display_tags @ropa %>
	  	  		<% end %> 

				<br><br>
				<%= link_to 'Añadir al carrito', { :controller => 'cart', :action => 'add', :id => @ropa}, :class => 'btn btn-primary' %>
	  	  	  </div>
  	  	  </div>
  	  	</div>
  	  </div>
  	</div> <!-- Detalles -->

  </div>
	<!-- Productos relacionados por Tags -->
    <div class="col-md-6 col-md-offset-1">
  	  <% if @ropa.tag_list.any? %>
  	    <h3>También puede gustarle...</h3>
  	    <% for ropa in @ropa.find_related_tags %>
  	      <div class="col-md-3">
  	        <div class="product-image">
	          <% if ropa.imagen.exists? then %>
    	        <%= image_tag ropa.imagen.url(:thumb) %>
 	          <% else %>
    	        <%= image_tag '/imagenesCatalogo/no_disponible.gif', :style => 'width:100px; height:100px;'%>
  	          <% end %>
	        </div>
  	        <%= link_to ropa.nombre, catalogo_show_path(ropa) %> <br>
  	        <%= sprintf("%.2f €", @ropa.precio) %>
  	      </div>
  	    <% end %>
  	  <% end %>
  	</div>
</div>

<script>
	$('#catalogo').addClass('active');
</script>
